body { background-color: #D5A983; }

p, blockquote, li, input, td, th, select
{
  font-family: Cabin, Tahoma, Open Sans, Helvetica, sans-serif;
  font-size: 11px;
}

p, blockquote, li, h1, h2, h3, h4
{
  padding-left: 10px;
  padding-right: 10px;
  line-height: 18px;
  text-align: left;
}

input, select
{
  background-color: #F7F7F7;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  border-left: 1px solid #797979;
  border-right: 1px solid #797979;
}

input.nobg
{
  background-color: #FFFFFF;
  border: 0px;
}

blockquote
{
  margin-left: 20px;
  margin-right: 0px;
}

#right p, #left p
{
  line-height: 15px;
  font-size: 10px;
  margin: 0;
}

#left p { text-align: right; }

#head
{
  padding: 0;
  text-align: center;
}

#head a { border: 0; }

#container
{
  width: 760px;
  \width: 770px;
  w\idth: 760px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#left
{
  float: left;
  width: 150px;
  \width: 150px;
  w\idth: 150px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  padding-top: 80px;
}

#center
{
  padding: 0;
  margin-left: 180px;
  margin-right: 180px;
  padding-top: 30px;
}

#right
{
  float: right;
  width: 150px;
  \width: 150px;
  w\idth: 150px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  padding-top: 80px;
}

#foot
{
  clear: both;
  padding: 0;
  margin-top: 5px;
  text-align: center;
}

a
{
  color: black;
  text-decoration: none;
  border-bottom: 1px black solid;
}

#right a, #left a
{
  border: 0px;
  color: #C00;
}

h2
{
  border: 0px;
  font-weight: normal;
  font-family: Georgia, Times, Serif;
  font-size: 16px;
}

h3
{
  border: 0px;
  font-weight: normal;
  font-family: Georgia, Times, Serif;
  font-size: 14px;
}

h4
{
  border: 0px;
  font-weight: normal;
  font-family: Georgia, Times, Serif;
  font-size: 12px;
}

p.caps
{
  letter-spacing: 0.1em;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 20px;
}

#right a.external, #left a.external
{
  border: 0px;
  color: #700;
}

